.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    background: linear-gradient(180deg, hsl(0, 85%, 95%) 0%, rgba(0, 0, 0, 0.603) 60%);
    padding: 40px;   /* smaller padding keeps content inside */
    box-sizing: border-box; /* ensures padding stays inside container */
    border-radius: 20px; /* optional: makes it look cleaner */
    margin-top: 100px; /* space from top */
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: rgb(37, 37, 37);
    font-size: 60px;
    font-weight: 600;
}

.offers-left p{
    color: rgb(37, 37, 37);
    font-size: 22px;
    font-weight: 600;
}

.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: hsl(0, 63%, 53%);
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* keep it inside instead of pushing out */
    padding-top: 0; /* remove extra push */
}

.offers-right img {
    max-width: 100%;
    height: 405px;
    object-fit: contain;
}